h1 {
  font-family: "DM Serif Text", serif;
  color: black;
  font-size: 2em;
  font-weight:bold;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
}

.wordle{
  font-family: Helvetica, sans-serif;
  color:black;
  height:100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dddddd;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.letter {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 50px;
  width: 50px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.guess {
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 290px;
}

.letter-key {
  display:flex;
  font-family: Helvetica, sans-serif;
  background-color: gray;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius:10%;
}

.keyboard-vis {
  display: flex;
  gap: 4px;
  justify-content: center;
  flex-wrap: wrap;
  width:550px;
}
.wordle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guesses {
  display: flex;
  flex-direction: column;
  height: 350px;
  gap: 2px;
}

